[package]
name = "mdns-browser"
version = "0.18.3"
description = "mDNS browser"
authors = ["hrzlgnm"]
edition = "2021"

[build-dependencies]
tauri-build = { version = "2.2.0", features = [] }

[target.'cfg(not(any(target_os="android",target_os="ios")))'.dependencies]
clap = { version = "4.5.19", features = ["derive"] }
tauri-plugin-updater = "2.0.1"
thiserror = { workspace = true }
chrono = { workspace = true }

[dependencies]
# crates
log = { workspace = true }
mdns-sd = { version = "0.13.0", features = ["async", "log"] }
serde = { workspace = true }
serde_json = "1.0.128"
tauri = { version = "2.0.0", features = [] }
tauri-plugin-clipboard-manager = "2.0.0"
tauri-plugin-log = { version = "2.0.0", features = ["colored"] }
tauri-plugin-opener = "2.2.0"
tokio = { workspace = true }

# local
models = { path = "../models" }
shared_constants = { path = "../shared_constants" }

# platform-specific dependencies
[target.'cfg(not(windows))'.dependencies]
pnet = "0.35.0"

[target.'cfg(windows)'.dependencies]
ipconfig = "0.3.2"

[target.'cfg(target_os="linux")'.dependencies]
regex = "1.11.1"

[lib]
name = "mdns_browser_lib"
crate-type = ["staticlib", "cdylib", "lib"]
