[package]
name = "mdns-browser"
version = "0.0.6"
description = "mDNS browser"
authors = ["hrzlgnm"]
edition = "2021"

[build-dependencies]
tauri-build = { version = "1.5.3", features = [] }

[dependencies]
mdns-sd = { version = "0.11.3", features = ["async", "log"] }
tauri = { version = "1.7.1", features = [
    "dialog-ask",
    "http-api",
    "http-request",
    "process-exit",
    "process-relaunch",
    "shell-open",
    "updater",
    "window-all",
] }
serde = { version = "1.0.208", features = ["derive"] }
serde_json = "1.0.125"
tauri-plugin-log = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
log = "0.4.22"

[features]
# This feature is used for production builds or when a dev server is not specified, DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]
