[package]
name = "mdns-browser"
version = "0.0.6"
description = "mDNS browser"
authors = ["hrzlgnm"]
edition = "2021"

[build-dependencies]
tauri-build = { version = "2.0.0", features = [] }

[target."cfg(not(any(target_os = \"android\", target_os = \"ios\")))".dependencies]
tauri-plugin-updater = "2.0.1"
tauri-plugin-log = "2.0.0"
tauri-plugin-shell = "2.0.0"

[dependencies]
clap = { version = "4.5.19", features = ["derive"] }
log = "0.4.22"
mdns-sd = { version = "0.11.4", features = ["async", "log"] }
open = "5"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
tauri = { version = "2.0.0", features = [] }

[lib]
name = "mdns_browser_lib"
crate-type = ["staticlib", "cdylib", "lib"]
