{
  "plugins": ["prettier-plugin-svelte"],
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
