[package]
name = "mdns-browser-ui"
version = "0.0.5"
edition = "2021"

[profile.release]
panic = "abort"
codegen-units = 1
lto = true
opt-level = "s"
strip = true

[dependencies]
# crates
chrono = "0.4.38"
console_error_panic_hook = "0.1.7"
console_log = "1.0.0"
futures = "0.3.30"
icondata = "0.5.0"
js-sys = "0.3.70"
leptos = { version = "0.6.15", features = ["csr"] }
leptos_meta = { version = "0.6.15", features = ["csr"] }
log = "0.4.22"
serde = { version = "1.0.210", features = ["derive"] }
serde-wasm-bindgen = "0.6.5"
strsim = "0.11.1"
thaw = { version = "0.3.4", features = ["csr"] }
thaw_utils = { version = "0.1.0", features = ["csr"] }
tokio = "1.40.0"

# git
tauri-sys = { git = "https://github.com/JonasKruckenberg/tauri-sys", branch = "v2", features = [
    "core",
    "event",
] }

# local
shared_constants = { path = "./shared_constants" }
models = { path = "./models" }

[workspace]
members = ["models", "shared_constants", "src-tauri"]
