[package]
name = "mdns-browser-ui"
version = "0.18.2"
edition = "2021"

[profile.release]
panic = "abort"
codegen-units = 1
lto = true
opt-level = "s"
strip = true
debug = true

[dependencies]
# crates
chrono = { workspace = true }
console_error_panic_hook = "0.1.7"
console_log = "1.0.0"
futures = "0.3.30"
icondata = "0.5.0"
js-sys = "0.3.70"
leptos = { version = "0.8", features = ["csr"] }
log = { workspace = true }
reactive_stores = { workspace = true }
serde = { workspace = true }
serde-wasm-bindgen = "0.6.5"
strsim = "0.11.1"
thaw = { version = "0.5.0-beta", features = ["csr"] }
thaw_utils = "0.2.0-beta"
# git
tauri-sys = { git = "https://github.com/JonasKruckenberg/tauri-sys", branch = "v2", features = [
    "core",
    "event",
] }

# local
shared_constants = { path = "./shared_constants" }
models = { path = "./models" }

[workspace]
members = ["models", "shared_constants", "src-tauri"]

[workspace.dependencies]
chrono = "0.4.38"
reactive_stores = "0.2.2"
serde = { version = "1.0.219", features = ["derive"] }
log = "0.4.27"
thiserror = "2.0.12"
tokio = { version = "1.45.0", features = ["time"] }
