body {
    margin: 0;
    padding: 0;
    border: 0;
}

.hidden {
    display: none;
}
.mobile-outer-layout {
}

.mobile-metrics-layout {
}

.mobile-browse-layout {
    padding-top: 5px;
}
.mobile-resolved-service-card {
    width: 480px; !important;
}
.mobile-resolved-service-grid {
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr)) !important;
    grid-gap: 8px 8px; !important;
}
.mobile-resolved-service-table-cell {
    width: 350px;
}

.desktop-outer-layout {
    padding: 10px
}
.desktop-browse-layout {
    padding-top: 10px;
}

.desktop-metrics-layout {
}

.metrics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48vw, 1fr));
    gap: 0px;
    max-width: 98vw;
}

.metric-item {
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke2);
    padding: 2px 5px 2px 5px;
    max-width: 48vw;
}

.desktop-resolved-service-card {
    width: 520px; !important;
}
.desktop-resolved-service-grid {
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr)) !important;
    grid-gap: 10px 10px; !important;
}
.desktop-resolved-service-table-cell {
    width: 400px;
}

.mobile-input > .thaw-input {
    min-width: 180px;
    max-width: 180px;
}
.mobile-input > .thaw-input__input {
    min-width: 180px;
    max-width: 180px;
}

.desktop-input > .thaw-input__input {
}

.thaw-card-header__header {
    justify-content: space-between;
}

.service-type-invalid > .thaw-input {
    border: 2px groove var(--colorStatusDangerBorder1);
}
.service-type-valid > .thaw-input {
    outline: 1px solid var(--colorTransparentStroke);
}

.resolved-service-details-dialog-body {
    display: flex;
    max-width: 90vw;
}

.resolved-service-details-dialog-scrollarea {
    max-height: 90vh;
}
