name: Bump Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to bump
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  update_version:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.semver.outputs.semantic-version }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - id: semver
        uses: SOLIDSoftworks/semver-tags@fa8963220fb4913aea2b20cc190004de1b79f395 # v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
          tag-prefix: "mdns-browser-v"
          incremented-value: ${{ inputs.version }}
          create-release: false
          dry-run: true

      - name: Set up SSH signing key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_SIGNING_KEY }}" > ~/.ssh/id_ed25519_signing
          chmod 600 ~/.ssh/id_ed25519_signing
          git config --global gpg.format ssh
          git config --global user.signingKey ~/.ssh/id_ed25519_signing
          git config --global user.name "hrzlgnm"
          git config --global user.email "hrzlgnm@users.noreply.github.com"

      - name: Update cargo and tauri versions
        run: |
          sudo apt install jq
          sed -i '0,/\(version *= *\).*/s//\1"${{ steps.semver.outputs.semantic-version }}"/' Cargo.toml
          sed -i '0,/\(version *= *\).*/s//\1"${{ steps.semver.outputs.semantic-version }}"/' models/Cargo.toml
          sed -i '0,/\(version *= *\).*/s//\1"${{ steps.semver.outputs.semantic-version }}"/' shared_constants/Cargo.toml
          sed -i '0,/\(version *= *\).*/s//\1"${{ steps.semver.outputs.semantic-version }}"/' src-tauri/Cargo.toml
          jq --indent 4 '.version="${{ steps.semver.outputs.semantic-version }}"' src-tauri/tauri.conf.json > tauri.config.json.new && mv tauri.config.json.new src-tauri/tauri.conf.json
          jq --indent 4 '.version="${{ steps.semver.outputs.semantic-version }}"' src-tauri/tauri.android.conf.json > tauri.andorid.config.json.new && mv tauri.andorid.config.json.new src-tauri/tauri.android.conf.json
          sed -i '/name = "mdns-browser"/{N;s/\(version *= *\)".*"/\1"'"${{ steps.semver.outputs.semantic-version }}"'"/;}' Cargo.lock
          sed -i '/name = "mdns-browser-ui"/{N;s/\(version *= *\)".*"/\1"'"${{ steps.semver.outputs.semantic-version }}"'"/;}' Cargo.lock
          sed -i '/name = "models"/{N;s/\(version *= *\)".*"/\1"'"${{ steps.semver.outputs.semantic-version }}"'"/;}' Cargo.lock
          sed -i '/name = "shared_constants"/{N;s/\(version *= *\)".*"/\1"'"${{ steps.semver.outputs.semantic-version }}"'"/;}' Cargo.lock

      - name: Commit, tag and push
        run: |
          git add -A
          git commit -S -m "Bump version to ${{ steps.semver.outputs.semantic-version }}"
          git push
          git tag -s -a mdns-browser-v${{ steps.semver.outputs.semantic-version }} -m "mDNS-Browser Release v${{ steps.semver.outputs.semantic-version}}"
          git push --tags
