name: Bump Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to bump
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  update_version:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.semver.outputs.semantic-version }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - id: semver
        uses: SOLIDSoftworks/semver-tags@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
          tag-prefix: "mdns-browser-v"
          incremented-value: ${{ inputs.version }}
          create-release: false
          dry-run: true

      - name: Update cargo and tauri versions
        run: |
          sudo apt install jq
          sed -i '0,/\(version *= *\).*/s//\1"${{ steps.semver.outputs.semantic-version }}"/' Cargo.toml
          sed -i '0,/\(version *= *\).*/s//\1"${{ steps.semver.outputs.semantic-version }}"/' models/Cargo.toml
          sed -i '0,/\(version *= *\).*/s//\1"${{ steps.semver.outputs.semantic-version }}"/' shared_constants/Cargo.toml
          sed -i '0,/\(version *= *\).*/s//\1"${{ steps.semver.outputs.semantic-version }}"/' src-tauri/Cargo.toml
          jq --indent 4 '.version="${{ steps.semver.outputs.semantic-version }}"' src-tauri/tauri.conf.json > tauri.config.json.new && mv tauri.config.json.new src-tauri/tauri.conf.json
          jq --indent 4 '.version="${{ steps.semver.outputs.semantic-version }}"' src-tauri/tauri.android.conf.json > tauri.andorid.config.json.new && mv tauri.andorid.config.json.new src-tauri/tauri.android.conf.json
          sed -i '/name = "mdns-browser"/{N;s/\(version *= *\)".*"/\1"'"${{ steps.semver.outputs.semantic-version }}"'"/;}' Cargo.lock
          sed -i '/name = "mdns-browser-ui"/{N;s/\(version *= *\)".*"/\1"'"${{ steps.semver.outputs.semantic-version }}"'"/;}' Cargo.lock
          sed -i '/name = "models"/{N;s/\(version *= *\)".*"/\1"'"${{ steps.semver.outputs.semantic-version }}"'"/;}' Cargo.lock
          sed -i '/name = "shaared_constants"/{N;s/\(version *= *\)".*"/\1"'"${{ steps.semver.outputs.semantic-version }}"'"/;}' Cargo.lock

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          commit-message: "chore(version): bump to ${{ steps.semver.outputs.semantic-version }}"
          sign-commits: true
          base: main
          branch: bump/version-${{ steps.semver.outputs.semantic-version }}
          branch-suffix: random
          labels: |
            ignore
          delete-branch: true
          title: "chore(version): bump version to ${{ steps.semver.outputs.semantic-version }}"
          draft: false
