name: "Publish desktop bundles"

on:
  release:
    types:
      - published

jobs:
  publish:
    permissions:
      id-token: write
      attestations: write
      contents: write
      actions: read
    uses: ./.github/workflows/desktop.yml
    secrets: inherit
    with:
      tagName: mdns-browser-v__VERSION__
      releaseName: "mDNS-Browser Release v__VERSION__"
