name: "CI Build"

on:
  pull_request:
    branches:
      - main

concurrency:
  # On main, we want all builds to complete even if merging happens faster to make it easier to discover at which point something broke.
  group: ${{ github.ref == 'refs/heads/main' && format('ci-main-{0}', github.sha) || format('ci-{0}', github.ref) }}

jobs:
  build-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "macos-latest" # for Arm based macs (M1 and above).
            args: "--target aarch64-apple-darwin"
          - platform: "macos-latest" # for Intel based macs.
            args: "--target x86_64-apple-darwin"
          - platform: "ubuntu-latest"
            args: ""
          - platform: "windows-latest"
            args: ""
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: Install dependencies (ubuntu only)
        if: contains(matrix.platform, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.0-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf python3-pip
          sudo python3 -m pip install codespell

      - name: Cached install cargo-make (ubuntu only)
        if: contains(matrix.platform, 'ubuntu')
        uses: taiki-e/cache-cargo-install-action@v2.0.1
        with:
          tool: cargo-make
          locked: true

      - name: Run codespell (ubuntu only)
        if: contains(matrix.platform, 'ubuntu')
        run: |
          cargo make codespell

      - name: Run rustfmt and fail if any warnings (macos only)
        if: contains(matrix.platform, 'macos')
        run: |
          cargo fmt -- --check
          cd src-tauri
          cargo fmt -- --check

      - name: Run clippy and fail if any warnings (macos only)
        if: contains(matrix.platform, 'macos')
        run: |
          cargo clippy -- -D warnings
          cd src-tauri
          cargo clippy -- -D warnings

      - name: Install frontend dependencies
        run: |
          rustup target add wasm32-unknown-unknown

      - name: Run tests
        run: |
          cargo test

      - name: Cached install trunk
        uses: taiki-e/cache-cargo-install-action@v2.0.1
        with:
          tool: trunk
          locked: true

      - name: Cached install tauri-cli
        uses: taiki-e/cache-cargo-install-action@v2.0.1
        with:
          tool: tauri-cli
          locked: true

      - name: Cached install cargo-cyclonedx
        uses: taiki-e/cache-cargo-install-action@v2.0.1
        with:
          tool: cargo-cyclonedx
          locked: true

      - name: Install cycloned-cli
        uses: robinraju/release-downloader@v1
        with:
          repository: CycloneDX/cyclonedx-cli
          fileName: "cyclonedx-*"
          latest: true

      - name: Generate SBOM
        run: |
          ls
          mkdir sbom
          cargo cyclonedx --all --format json --output-cdx

      - name: Merge SBOM Macos Aarch64
        if: contains(matrix.platform, 'macos-latest') and contains(matrix.args, 'aarch64-apple-darwin')
        run: |
          chmod +x cyclonedx-osx*
          ./cyclonedx-osx-arm64 merge --input-files *.json --output-file "sbom/mdns-browser-${{matrix.platform}}-aarch64-apple-darwin.cdx.json"

      - name: Merge SBOM Macos x64
        if: contains(matrix.platform, 'macos-latest') and contains(matrix.args, 'x86_64-apple-darwin')
        run: |
          chmod +x cyclonedx-osx*
          ./cyclonedx-osx-arm64 merge --input-files *.json --output-file "sbom/mdns-browser-${{matrix.platform}}-x86_64-apple-darwin.cdx.json"

      - name: Merge SBOM Linux
        if: contains(matrix.platform, 'ubuntu')
        run: |
          chmod +x cyclonedx-linux-x64
          ./cyclonedx-linux-x64 merge --input-files *.json --output-file sbom/mdns-browser-${{matrix.platform}}.cdx.json

      - name: Merge SBOM Windows
        if: contains(matrix.platform, 'windows')
        run: |
          cyclonedx-win-x64 merge --input-files *.json --output-file sbom/mdns-browser-${{matrix.platform}}.cdx.json

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          name: "build-artefacts-${{matrix.platform}}${{matrix.args}}"
          path: sbom

      - name: Build using tauri action
        uses: tauri-apps/tauri-action@v0.5.14
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
          tauriScript: cargo tauri

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3.2.1
        with:
          path: target/release/bundle
