name: "Publish release assets"

# This will trigger the action on each tag matching 'mdns-browser-v*'
on:
  push:
    tags:
      - "mdns-browser-v*"

jobs:
  publish:
    permissions:
      id-token: write
      attestations: write
      contents: write
    uses: ./.github/workflows/tauri.yml
    with:
      tagName: mdns-browser-v__VERSION__
      releaseBody: "See the assets to download this version and install."
